<h2>Upload Articy: Draft Export</h2>
<%= render 'articy_drafts/form' %>

<h3>Articy: Draft Compiles</h3>
<table class="table table-striped table-bordered">
    <tr>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>

    <% @articy_drafts.each do |d| %>
        <tr>
            <td><%= d.created_at %></td>
            <td><%= link_to 'Download', download_articy_draft_path(:id => d) %></td>
            <td><%= link_to 'Delete', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<h2>Export Profiles</h2>
<p>Note all profiles are included in an export</p>

<table>
    <tr>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>

    <% @profiles.each do |p| %>
        <tr>
            <td><%= p.created_at %></td>
            <td><%= link_to 'View', profile_path(p) %></td>
            <td><%= link_to 'Delete', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>

    <p>New profile form here</p>
</table>

<h3>File Names</h3>
<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>

    <% @file_names.each do |f| %>
        <tr>
            <td><%= f.name %></td>
            <td><%= link_to 'Edit', edit_file_name_path(f) %></td>
            <td><%= link_to 'Delete', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<%= render 'file_names/form' %>