<h1>ADNC Tools</h1>
<p>Tools for processing Articy: Draft XML data into swallowable JSON files for an HTML5 application</p>

<h2>Upload Articy: Draft Export</h2>
<%= render 'articy_drafts/form' %>

<h2>Current Export Profiles</h2>
<p>Note all profiles are included in an export</p>

<table>
    <tr>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>

    <% @profiles.each do |p| %>
        <tr>
            <td><%= p.created_at %></td>
            <td><%= link_to 'View', profile_path(p) %></td>
            <td><%= link_to 'Delete', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>

    <p>New profile form here</p>
</table>

<h2>Available Articy: Draft Compiles</h2>
<table>
    <tr>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>

    <% @articy_drafts.each do |d| %>
        <tr>
            <td><%= d.created_at %></td>
            <td><%= link_to 'Download', download_articy_draft_path(:id => d) %></td>
            <td><%= link_to 'Delete', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>