<!DOCTYPE html>
<html>
<head>
  <title>AdncTools</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="alert-box <%= key %>" id="<%= key %>">
        <%= value %>
    </div>
<% end %>

<div class="container">
    <h1>ADNC Tools</h1>
    <p>Tools for processing Articy: Draft XML data into swallowable JSON files for an HTML5 application</p>

    <%= yield %>
</div>

</body>
</html>
